.burger {
    height: 44px;
    width: 44px;
    border: solid 2px var(--orange);
    border-radius: 10px;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::before {
        content: '';
        background-color: var(--orange);
        -webkit-mask: url(/assets/icons/burger.svg) no-repeat 50% 50%;
        mask: url(/assets/icons/burger.svg) no-repeat 50% 50%;
        height: 44px;
        width: 44px;

        @media (max-width: 320px) {
            -webkit-mask: url(/assets/icons/burger_small.svg) no-repeat 50% 50%;
            mask: url(/assets/icons/burger_small.svg) no-repeat 50% 50%;
        }
    }

    @media (max-width: 320px) {
        border-radius: 7px;
        border: solid 1.45px var(--orange);
        height: 32px;
        width: 32px;

    }
}